<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <div class="form-signin">
            <div *ngIf="auth.user$ | async; then authenticated else guest">
            </div>
            <ng-template #guest>
              <button class="btn btn-lg btn-google btn-block text-uppercase" (click)="auth.socialLogin('google')">
                <i class="fa fa-google"></i> Connect Google</button>
              <button class="btn btn-lg btn-google btn-block text-uppercase" (click)="auth.socialLogin('facebook')">
                <i class="fa fa-facebook"></i> Connect Facebook</button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>