.product-image img{
    width: 100%;
    height: 450px;
}

.productDetail,.product-image{
    padding-left: 0px;
}

.productInfo{
    padding: 15px;
}

.proData h6{
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px
}

.proDesc h6{
    line-height: 25px;
}

.fa{
    color: #ff7733;
}